/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    padding: 0 12px;
    color: #fff;
    
}

.logo {

   height: 35px;
}

button {
    padding: 10px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

h1 {
    font-size: 70px;
    padding-bottom: 20px;
    font-weight: 1900;
}

h2 {
    font-size: 45px;
    padding-bottom: 20px;
    margin-top: 40px;
}

p {
    font-size: 20px;
    font-weight: 540;
}

.p-jumbotron {
    width: 850px;
    height: 100px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
}

.left {
    background-color: #fff;
    padding: 17px;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 500;
}

.right {
    background-color: black;
    color: #fff;
    margin-left: 10px;
    padding: 17px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 500;
}

i {
    padding-right: 10px;
}

/* header */
header {
    background-color: #255EE9;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

nav > * {
    flex-basis: 20%;    
    padding: 10px 0;
}

.nav-menu {
    flex-grow: 1;
    text-align: center;
}

.nav-login {
    flex-basis: 15%;
    min-height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lower-header {
    width: 100%;
    min-height: 600px; 
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.jumbotron {
    width: 100%;
    min-height: 600px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 60px;
    
} 

.download {
    padding-top: 15px;
    font-size: 1.1rem;
}

/* main */
.box-top-bottom {
    width: 100%;
    min-height: 600px; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.box-center {
    width: 100%;
    min-height: 600px; 
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.card-left {
    flex-basis: 38%;
    min-height: 400px;
}

.card-right {
    flex-basis: 19%;
    min-height: 500px;
    margin-top: 45px;
    margin-left: 20px;
}

.card-center-left {
    flex-basis: 24%;
    min-height: 500px;
    background-color: purple;
    border: 2px dashed black;
}

.card-center-right {
    flex-basis: 38%;
    min-height: 500px;
    background-color: blue;
    border: 2px dashed black;
}

.large-box {
    width: 100%;
    min-height: 1100px; 
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.large-card {
    flex-basis: 62%;
    min-height: 980px;
    background-color: aquamarine;
    border: 2px dashed black;
}

/* .upper-footer */
.upper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 650px; 
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;    
}

.col {
    background-color: yellow;
    flex-basis: 18%;
    min-height: 600px;
    border: 2px dashed black;
}

.cols {
    background-color: yellow;
    flex-basis: 11%;
    min-height: 600px;
    border: 2px dashed black;
}

/* lower footer */
.lower-footer {
    width: 100%;
    min-height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}

.bottom-nav {
    flex-basis: 62%;
    min-height: 60px; 
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-nav {
    flex-basis: 8%;
    min-height: 30px;
    background-color: #da2020;
    border: 2px dashed black;;
}